body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

hr {
  background-color: rgb(211, 211, 211);
  color: rgb(211, 211, 211);
  border: solid 0px rgb(211, 211, 211);
  height: 1px;
}

/* PART 1 NAVBAR */
/* PART 1 NAVBAR */

li {
  display: block;
}
.thin {
  font-weight: lighter;
}

ul hr {
  background-color: rgb(144, 187, 204);
  color: rgb(144, 187, 204);
  border: solid 0px rgb(144, 187, 204);
  height: 1px;
  width: 154px;
}

.nav-outline {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.outline {
  display: flex;
}

.navRow {
  position: fixed;
  background-color: white;
  top: 0;
  left: 50%;
  margin-left: -730px;
  padding-left: 200px;
  display: flex;
  width: 100vw;
  z-index: 3;
}

.wLogo {
  width: 190px;
}

button:focus {
  outline: 0;
}

.dropbtn1 {
  background-color: rgba(153, 40, 144, 0.849);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}

.dropbtn2 {
  background-color: rgb(225, 158, 231);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}

.dropbtn3 {
  background-color: rgb(58, 108, 184);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}

.dropbtn4 {
  background-color: rgb(76, 161, 108);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}
.dropdown4 {
  position: relative;
  display: flex;
}
.dropdown4:hover .dropbtn4 {
  background-color: rgb(57, 185, 178);
}

.dropbtn5 {
  background-color: rgb(57, 149, 185);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}
.dropdown5 {
  position: relative;
  display: flex;
}
.dropdown5:hover .dropbtn5 {
  background-color: rgb(105, 75, 175);
}
.dropdown5:hover .bag {
  background-color: rgb(105, 75, 175);
}
.dropdown5:hover span {
  color: rgb(105, 75, 175);
}

.dropdown1 {
  position: relative;
  display: flex;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  left: -180px;
  margin-top: 94px;
  background-color: rgb(57, 149, 185);
  min-width: 1010px;
  z-index: 4;
}

.dropdown-content1 a {
  display: flex;
  color: white;
  width: 150px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 100;
  font-size: 14px;
}
.dropdown-content1 a:hover {
  text-decoration: underline;
  background-color: rgb(91, 163, 192);
}
.dropdown1:hover .dropdown-content1 {
  display: flex;
}
.dropdown1:hover .dropbtn1 {
  background-color: rgb(57, 149, 185);
}

.dropdown2 {
  position: relative;
  display: flex;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  margin-top: 94px;
  background-color: rgb(57, 149, 185);
  min-width: 180px;
  z-index: 4;
}
.dropdown-content2 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropdown2:hover .dropbtn2 {
  background-color: rgb(57, 149, 185);
}

.dropdown3 {
  position: relative;
  display: flex;
}
.dropdown-content3 {
  display: none;
  position: absolute;
  margin-top: 94px;
  background-color: rgb(57, 149, 185);
  min-width: 128px;
  z-index: 4;
}
.dropdown-content3 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown3:hover .dropdown-content3 {
  display: block;
}
.dropdown3:hover .dropbtn3 {
  background-color: rgb(57, 149, 185);
}

.dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(57, 149, 185);
}

.bag {
  background-color: rgb(57, 149, 185);
  height: 70px;
  border: none;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

#bag {
  height: 60px;
  padding: 6px;
}

.bag span {
  z-index: 3;
  padding-top: 32px;
  color: rgb(57, 149, 185);
  font-weight: bold;
  position: absolute;
}

/* PART 2 SLIDESHOW*/
/* PART 2 SLIDESHOW*/

.s-outline {
  display: flex;
  margin: auto;
  padding: 20px;
  max-width: 640px;
  flex-direction: column;
}

.s-row {
  display: flex;
  flex-direction: row;
  margin: auto;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.mySlides {
  max-width: 500px;
  margin: auto;
}

.demo {
  width: 50px;
  cursor: pointer;
}

.opacity {
  opacity: 0.75;
}

.opacity-off {
  opacity: 1;
}

.hover-opacity-off:hover {
  opacity: 1;
}

.animate-left {
  position: relative;
  animation: animateleft 0.6s;
}

@keyframes animateleft {
  from {
    left: -300%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

/* PART 3 SIDEBAR AND ALLCARDS*/
/* PART 3 SIDEBAR AND ALLCARDS*/

.all-outline {
  padding-top: 95px;
  padding-bottom: 150px;
  position: absolute;
  display: flex;
  margin: auto;
}

.side-outline {
  margin-left: 100px;
  margin-top: 30px;
  width: 150px;
}

.side-outline a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.side-outline a:hover {
  color: rgb(130, 203, 231);
  text-decoration: underline;
}

.side-outline ul {
  padding: 0;
}

.side-outline li {
  font-size: 14px;
  padding: 5px 0;
}

.main-outline {
  display: flex;
}

.card-outline {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  padding-top: 25px;
  padding-left: 10px;
}

.card {
  width: 340px;
  border: solid 1px rgb(255, 255, 255);
}

.card:hover {
  border-top: solid 1px rgb(211, 211, 211);
  border-left: solid 1px rgb(211, 211, 211);
  border-right: solid 1px rgb(211, 211, 211);
}

.card-extend {
  display: none;
  position: absolute;
  border-bottom: solid 1px rgb(211, 211, 211);
  border-left: solid 1px rgb(211, 211, 211);
  border-right: solid 1px rgb(211, 211, 211);
  width: 340px;
  height: 110px;
  background-color: white;
  z-index: 2;
}

.single-card-outline:hover .card {
  border-top: solid 1px rgb(211, 211, 211);
  border-left: solid 1px rgb(211, 211, 211);
  border-right: solid 1px rgb(211, 211, 211);
}

.single-card-outline:hover .card-extend {
  display: flex;
  flex-direction: column;
}

.card-extend button {
  background-color: rgb(57, 149, 185);
  border-color: rgb(57, 149, 185);
  width: 300px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 10px auto 12px;
  display: flex;
  cursor: pointer;
}

.card-extend button:hover {
  background-color: rgb(130, 203, 231);
  border-color: rgb(130, 203, 231);
}

.card-extend button span {
  margin: auto;
}

.card-extend input {
  width: 130px;
  height: 35px;
  outline: none;
  display: flex;
  margin-left: auto;
  border: solid 1px white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.qty-bar {
  border: solid 1px rgb(0, 0, 0);
  width: 296px;
  height: 40px;
  display: flex;
  margin: auto;
}

.qty-text {
  color: rgb(163, 163, 163);
  margin: 11px 10px;
  font-weight: 100;
}

.qty-sign {
  color: rgb(57, 149, 185);
  margin: 0px 10px;
  font-size: 44px;
  line-height: 32px;
  font-family: Georgia;
  cursor: pointer;
}

.productText p {
  margin: 4px 0;
  padding-left: 21px;
  font-family: sans-serif;
  font-weight: 100;
}

.card-img {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
}

.card-img img {
  width: 330px;
  max-height: 330px;
}

/* PART 4 SINGLE PRODUCT*/
/* PART 4 SINGLE PRODUCT*/

.productName h1 {
  font-weight: thin;
  font-family: "Trebuchet MS";
  font-size: 40px;
}

.hide {
  display: none;
}

.single-outline {
  margin: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  max-width: 1050px;
}

.productName {
  width: 400px;
  padding-top: 60px;
}

.review {
  width: 400px;
  padding-top: 60px;
}

.review p {
  font-weight: thin;
  line-height: 30px;
}

.productName button {
  background-color: rgb(57, 149, 185);
  width: 170px;
  height: 47px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(223, 223, 223);
}

.qty-bar2 {
  border: solid 1px rgb(0, 0, 0);
  width: 165px;
  height: 40px;
  display: flex;
  margin-bottom: 15px;
}

.qty-text2 {
  color: rgb(163, 163, 163);
  margin: 11px 10px;
  font-size: 14px;
  font-weight: 100;
}

.qty-sign2 {
  color: rgb(57, 149, 185);
  margin: 0px 10px;
  font-size: 36px;
  line-height: 32px;
  font-family: Georgia;
  cursor: pointer;
}

.productName input {
  width: 40px;
  height: 35px;
  outline: none;
  display: flex;
  margin-left: auto;
  border: solid 1px white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* PART 5 SIGN-IN*/
/* PART 5 SIGN-IN*/

.sign-in {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.sign-in-outline {
  margin: auto;
  padding-top: 100px;
}

.sign-in input {
  height: 30px;
  margin-top: 10px;
  font-size: 18px;
  background-color: white;
}

.sign-in button {
  background-color: rgb(57, 149, 185);
  border-color: rgb(57, 149, 185);
  width: 100px;
  height: 40px;
  border-radius: 3px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 10px auto 12px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.spacer {
  padding-top: 100px;
}

/*footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  <<<<<<<headheight: 18%;
  =======height: 5%;
  >>>>>>>33bc6b85998d8be98c9fd4ddd0f4da796924d770background-color: black;
  color: white;
  text-align: center;
}

.welcome {
  position: absolute;
  padding-top: 70px;
  left: 50%;
  margin-left: -150px;
  font-weight: 100;
}

/* PART 6 ADMIN*/
/* PART 6 ADMIN*/

.singleView {
  padding-top: 100px;
  max-width: 900px;
  margin: auto;
}

.singleView div {
  margin: 5px;
}

.singleView h4 {
  margin: 10px 0;
}

.singleView input {
  height: 25px;
  width: 250px;
  font-size: 16px;
}

.description textarea {
  width: 100%;
  height: 50px;
  font-size: 16px;
}

.singleView button {
  height: 30px;
  margin: 5px;
  font-size: 14px;
}

.editImage {
  border: solid 1px rgb(211, 211, 211);
  width: 50%;
}

.edit-outline {
  display: flex;
  flex-direction: column;
}

.edit-outline input {
  width: 65%;
}

.dashboard {
  padding-top: 100px;
  margin: auto;
}

.thankYou {
  padding-top: 100px;
  margin: auto;
}

.thankYou img {
  max-width: 900px;
}

.edit-user {
  padding-top: 100px;
  margin: auto;
  display: flex;
}

.edit-user-box {
  border: solid 1px rgb(211, 211, 211);
  margin: 4px;
  padding: 5px;
}

/* PART 7 CART*/
/* PART 7 CART*/

.cart-outline {
  padding-top: 100px;
  display: flex;
}

.cart_container {
  margin: auto;
}

.cart_container h3 {
  padding: 4px 8px;
  background-color: rgb(91, 179, 214);
  border: solid 1px rgb(57, 149, 185);
  color: rgb(255, 255, 255);
}

.cart_container th {
  border: solid 1px rgb(211, 211, 211);
  padding: 12px;
}

.cart_container td {
  padding: 8px 14px;
}

.cart_container tr:nth-child(even) {
  background: rgb(235, 235, 235);
}

.cart_container input {
  height: 20px;
  text-align: center;
  font-size: 16px;
}

.cart_container button {
  height: 30px;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: rgb(91, 179, 214);
  border: solid 1px rgb(57, 149, 185);
  border-radius: 4px;
  color: rgb(255, 255, 255);
}

.empty_cart {
  margin: auto;
}

.checkOut {
  padding-left: 75%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: solid 1px rgb(211, 211, 211);
  border-bottom: solid 1px rgb(211, 211, 211);
}

.checkout-main {
  max-width: 500px;
  margin: auto;
}

.card-info {
  flex-direction: column;
}

.card-row {
  margin: 0 0;
}

.card-info input {
  height: 20px;
  font-size: 16px;
}

.card-info select {
  height: 24px;
  font-size: 14px;
  margin-right: 15px;
}

.checkout-form button {
  height: 30px;
  width: 160px;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  background-color: rgb(91, 179, 214);
  border: solid 1px rgb(57, 149, 185);
  border-radius: 4px;
  color: rgb(255, 255, 255);
}

.checkout-send {
  margin-left: 30px;
  margin-top: 0;
}
