body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

li {
  display: block;
}
.thin {
  font-weight: lighter;
}

hr {
  background-color: rgb(144, 187, 204);
  color: rgb(144, 187, 204);
  border: solid 0px rgb(144, 187, 204);
  height: 1px;
  width: 154px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.outline {
  display: flex;
}
.card{
  border: 2px solid black;
}

.navRow {
  position: relative;
  display: flex;
  margin: auto;
}

.wLogo {
  width: 190px;
}

.dropbtn1 {
  background-color: rgba(153, 40, 144, 0.849);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}

.dropbtn2 {
  background-color: rgb(225, 158, 231);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}

.dropbtn3 {
  background-color: rgb(58, 108, 184);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}

.dropbtn4 {
  background-color: rgb(76, 161, 108);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}
.dropdown4 {
  position: relative;
  display: flex;
}
.dropdown4:hover .dropbtn4 {background-color: rgb(57, 185, 178);}

.dropbtn5 {
  background-color: rgb(57, 149, 185);
  color: white;
  height: 70px;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: auto;
}
.dropdown5 {
  position: relative;
  display: flex;
}
.dropdown5:hover .dropbtn5 {background-color: rgb(105, 75, 175);}
.dropdown5:hover .bag {background-color:  rgb(105, 75, 175);}

.dropdown1 {
  position: relative;
  display: flex;
}
.dropdown-content1 {
  display: none;
  position: fixed;
  left: 220px;
  margin-top: 94px;
  background-color: rgb(57, 149, 185);
  min-width: 1010px;
  z-index: 1;
}

.dropdown-content1 a {
  display: flex;
  color: white;
  width: 150px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown1:hover .dropdown-content1 {display: flex;}
.dropdown1:hover .dropbtn1 {background-color: rgb(57, 149, 185);}

.dropdown2 {
  position: relative;
  display: flex;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  margin-top: 94px;
  background-color: rgb(57, 149, 185);
  min-width: 180px;
  z-index: 1;
}
.dropdown-content2 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown2:hover .dropdown-content2 {display: block;}
.dropdown2:hover .dropbtn2 {background-color: rgb(57, 149, 185);}

.dropdown3 {
  position: relative;
  display: flex;
}
.dropdown-content3 {
  display: none;
  position: absolute;
  margin-top: 94px;
  background-color: rgb(57, 149, 185);
  min-width: 128px;
  z-index: 1;
}
.dropdown-content3 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown3:hover .dropdown-content3 {display: block;}
.dropdown3:hover .dropbtn3 {background-color: rgb(57, 149, 185);}

.dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(57, 149, 185);}

.bag {
  background-color: rgb(57, 149, 185);
  height: 70px;
  border: none;
  margin-top: auto;
}

#bag {
  height: 60px;
  padding: 6px;
}

/* star_rating styles */

.star_container {
  background-color: white;
    width: 100;
    height: 50;
}